@charset "utf-8";
@import "mixins.scss";
@import url(../fonts/sfuidisplay-thin.css);
@import url(../fonts/sfuidisplay-light.css);
@import url(../fonts/sfuidisplay-regular.css);
@import url(../fonts/sfuidisplay-bold.css);
@import url(../fonts/sfuidisplay-heavy.css);

$darkblue: #302f60;
$deepblue: #292852;
$blue: #3e36c4;
$gray: #87888a;

body{
	font-family: 'SFUIDisplay-Regular';
	-webkit-text-size-adjust: none;
	color: #000;
}

.in-container {
	width: 980px;
	margin: auto;

	@media (max-width: 1024px) {
		width: auto;
		max-width: 100%;
	}
}

html {
	height: auto;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;

	&.flex-justi {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	&.flex-valign {
		-webkit-align-items: center;
		align-items: center;
		height: 100%;
	}
	&.flex-align {
		-webkit-align-items: center;
		align-items: center;
	}
	&.flex-nowrap {
		flex-wrap: nowrap;
	}
	&.flex-end {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	&.flex-center-center {
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
	}
	&.flex-center {
		-webkit-justify-content: center;
		justify-content: center;
	}
	&.flex-column {
		flex-direction: column;
	}
}

.wrapper {
	min-height: 100%;
}

a {
	text-decoration: none;
	outline: none;
	color: $blue;

	&:hover {
		text-decoration: none;
		color: #0056b3;
	}
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

button, a {
	outline: none!important;
}

p {
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, strong, ins {
	font-weight: normal!important;
}

ul, ol {
	margin-bottom: 0;
}

h1 {
	font-size: 36px;
	color: #3e36c4;
	font-family: 'SFUIDisplay-Light';
	letter-spacing: normal;
    margin: auto;
    line-height: 40px;

    @media (max-width: 768px) {
		font-size: 26px;
		line-height: 30px;
    }
}

h2, .subtitle {
	font-size: 24px;
	color: #1a171b;
	font-family: 'SFUIDisplay-Light';
	letter-spacing: normal;
    margin: auto;
    line-height: 30px;

    @media (max-width: 768px) {
    	font-size: 20px;
    	line-height: 24px;
    }
}

// buttons
.blue-btn {
	background: #2d6dda; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d6dda 0%, #3d23c8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2d6dda 0%,#3d23c8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2d6dda 0%,#3d23c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6dda', endColorstr='#3d23c8',GradientType=0 ); /* IE6-9 */
	border: none;
	color: #fff!important;
	border-radius: 30px;
	font-size: 16px;
	transition: .2s;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	position: relative;

	&:active {
		box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.8);
	}

	&:hover {
		background: #3d23c8; /* Old browsers */
		background: -moz-linear-gradient(top,  #3d23c8 0%, #2d6dda 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #3d23c8 0%,#2d6dda 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #3d23c8 0%,#2d6dda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d23c8', endColorstr='#2d6dda',GradientType=0 ); /* IE6-9 */
	}

	&.btn-large {
		font-size: 22px;
	}

	&.question-btn {
		width: 188px;
		height: 54px;
	}

	&.btn-large-size {
		padding: 17px 18px;
	}

	&.add-account-btn {
		width: 300px;
		height: 86px;
		text-align: center;
	    border-radius: 50px;
	    line-height: 66px;
	    padding-left: 50px;

	    &:before {
			content: '';
			background: url('../img/finger_print.svg');
			@include background-size(contain);
			width: 40px;
			height: 40px;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			left: 24px;
			background-repeat: no-repeat;
	    }

	    &:after {
	    	content: '';
	    	background: url('../img/btn_shadow.png');
	    	@include background-size(contain);
	    	width: 314px;
	    	height: 50px;
	    	position: absolute;
	    	bottom: -44px;
	    	left: -7px;
	    	background-repeat: no-repeat;
	    }

	    &.btn-md {
			width: 226px;
			height: 65px;
			font-size: 18px;
			line-height: 45px;

			&:before {
				width: 30px;
				height: 32px;
				margin-top: -16px;
				left: 18px;
			}

			&:after {
				width: 240px;
				height: 46px;
			}
		}
	}

	@media (max-width: 768px) {
		&.add-account-btn {
			width: 220px;
		    height: 66px;
		    line-height: 46px;
		    padding-left: 50px;

		    &:before {
		    	width: 30px;
			    height: 30px;
			    left: 15px;
			    margin-top: -15px;
		    }

		    &:after {
		    	width: 234px;
		    }
		}

		&.btn-large {
		    font-size: 18px;
		}
	}
}
.popover-body .account-action-buttons {
	padding: 10px;
	border: 1px solid #d9dadb;
}
.bs-popover-left[x-placement^=left] .arrow {
	background-image: url('../img/left_arrow.png');
	width: 8px;
    height: 18px;
    @include background-size(contain);
    background-repeat: no-repeat;

	&:before, &:after {
		display: none;
	}
}
.action-btn {
	width: 30px;
	height: 30px;
	border: none;
	display: inline-block;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top;
	padding: 0;
	margin: 0 7px;

	&:hover {
		background-position: bottom;
	}

	&.send-btn {
		background-image: url('../img/send_ico.svg');
	}
	&.subscribe-btn {
		background-image: url('../img/subscribe_ico.svg');
	}
	&.resubscribe-btn {
		background-image: url('../img/resubscribe_ico.svg');
	}
	&.automessage-btn {
		background-image: url('../img/automessage_ico.svg');
	}
	&.autocomment-btn {
		background-image: url('../img/autocomment_ico.svg');
	}
	&.hello-btn {
		background-image: url('../img/hello_ico.svg');
	}
	&.watch-stories-btn {
		background-image: url('../img/watch_stories_ico.svg');
	}

	&.redact-btn {
		background-image: url('../img/redact_ico.svg');
		width: 24px;
		height: 23px;
	}
	&.refresh-btn {
		background-image: url('../img/refresh_ico.svg');
		width: 23px;
		height: 23px;
	}
	&.delete-btn {
		background-image: url('../img/delete_ico.svg');
		width: 23px;
		height: 23px;
	}
}
.download-btn {
	padding-right: 54px!important;
}
.close-btn {
	border: none;
	background-color: transparent;
	width: 20px;
	height: 20px;
	background-image: url('../img/close_ico.svg');
	display: inline-block;
	text-decoration: none;
}
.narrow-btn {
	display: inline-block;
	text-decoration: none;
	border: none;
	width: 135px;
	height: 54px;
	line-height: 34px;
	padding-left: 40px;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		left: 12px;
		background-repeat: no-repeat;
	}

	&.sms-btn:before {
		background-image: url('../img/sms_ico_circle.svg');
	}
	&.mail-btn:before {
		background-image: url('../img/mail_ico_circle.svg');
	}

	@media (max-width: 768px) {
		width: 125px;
	}
}
.confirm-btn {
	padding: 17px 20px 17px 54px;

	&:before {
		content: '';
		background-image: url('../img/confirm_ico.svg');
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 15px;
		margin-top: -15px;
		background-repeat: no-repeat;
	}
}
.next-step-btn {
	padding: 17px 54px 17px 20px;
}
.manage-button {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-decoration: none;
	border: none;
	background-color: transparent;
	border-radius: 50%;
	@include background-size(cover);

	&.pause-btn {
		background-image: url('../img/pause_btn.svg');
	}
	&.trash-btn {
		background-image: url('../img/trash_btn.svg');
	}
	&.down-circle-btn {
		background-image: url('../img/down_circle_btn.svg');
	}

	&:hover {
		background-position: bottom;
	}
}
.bordered-btn {
	border: 2px solid $blue;
	border-radius: 30px;
	display: inline-block;
	text-decoration: none;
	background-color: transparent;
	padding: 6px 12px;
	font-size: 16px;
	color: $blue;
}
.cancel-btn {
	color: #fff;
	font-size: 16px;
	border: none;
	text-decoration: none;
	display: inline-block;
	background-color: transparent;
	padding: 0;
}
.pay-btn {
	background-color: #d40050;
	border-radius: 20px;
	border: none;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding: 8px 15px;

	&:hover {
		background-color: #a10d59;
		color: #fff;
	}
}

.badge {
	font-size: 11px;
	color: #fff;
	border-radius: 50%;
	width: 20px;
	min-width: 20px;
	height: 20px;
	background-color: #d40050;
	line-height: 20px;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin: 0 5px;
}

.pagination {
	margin: 15px 0;

	a {
		font-size: 16px;
		color: $blue;
		display: inline-block;
		position: relative;
		width: 20px;
		text-align: center;

		&.active {
			color: $gray;
		}

		&.back-btn {
			padding-left: 10px;
			width: auto;
			margin-right: 10px;

			&:before {
				content: '\f104';
				font-family: 'FontAwesome';
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&.next-btn {
			padding-right: 10px;
			width: auto;
			margin-left: 10px;

			&:after {
				content: '\f105';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

input.error {
	border-color: red!important;
}
label.error {
	font-size: 13px;
	color: red;
	text-align: left;
	margin-bottom: 0;
	line-height: 14px;

	@media (max-width: 768px) {
		font-size: 12px;
		line-height: 12px;
	}
}

.pl {
	padding-left: 25px!important;

	@media (max-width: 768px) {
		padding-left: 0!important;
	}
}

.pb {
	padding-bottom: 40px!important;

	@media (max-width: 1024px) {
		padding-bottom: 30px!important;
	}
}

.box-shadow {
	@include box-shadow(0 7px 22px #dbdcdc);
}

.bordered {
	border-left: 2px dotted #d2d2d3;
}

.no-gutters {
	margin: 0!important;
}

.child-full--height {
	> div {
		height: 100%;
	}
}
.child-full--width {
	> div {
		width: 100%;
	}
}

#post_form {
	position: absolute;
	opacity: 0;
	z-index: -99;
	pointer-events: none;
	width: 0;
	height: 0;
}

.site-overlay {
	position: fixed;
	background: rgba(0,0,0, .55);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

.header {
	height: 65px;
	background: url('../img/header-bg.jpg');
	background-position: center;
    background-repeat: no-repeat;
    padding: 0 15px;

	.flex > .row {
		padding: 0 20px;
	}

	.menu-btn {
		background: transparent;
		border: none;
		margin-right: 20px;
		display: none;
	}

	.logo {
		font-size: 30px;
		color: #fff;
		text-transform: uppercase;

		span {
			font-family: 'SFUIDisplay-Thin';
		}
	}

	.user {
		position: relative;
		padding-right: 25px;
		cursor: pointer;

		// &.active {
		// 	background: rgba(0, 0, 0, 0.15);
		// }

		&:after {
			content: '';
			background: url('../img/blue_down_arrow.svg');
			background-repeat: no-repeat;
			width: 16px;
			height: 9px;
			position: absolute;
			top: 50%;
			margin-top: -4px;
			right: 2px;
		}

		&__icon {
			max-width: 34px;
			max-height: 34px;
		}

		&__name {
			color: #fff;
			font-size: 16px;
			max-width: 180px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin-left: 15px;
			position: relative;
		}
	}

	.header-settings {
		display: none;
		width: 236px;
		background-image: url('../img/header_accounts_bg.jpg');
		background-repeat: no-repeat;
		@include background-size(cover);
		position: absolute;
	    top: 64px;
	    right: -15px;
	    z-index: 66;

		ul li {
			padding: 12px 10px 12px 15px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			font-size: 16px;
			color: #fff;
			position: relative;
			border-bottom: 1px solid #54396c;

			&:after {
				content: '';
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				pointer-events: none;
				z-index: 2;
			}

			&:hover:after {
				background-color: rgba(0,0,0, .15);
			}

			&:last-child {
				border-bottom: none;
			}

			img {
				min-width: 24px;
				max-width: 24px;
				z-index: 11;
			}

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 44;
			}

			span {
				margin-left: 15px;
				z-index: 11;
			}
		}
	}

	@media (max-width: 1280px) {
		.menu-btn {
			display: inline-block;
		}
	}
	@media (max-width: 768px) {
		.logo {
			font-size: 26px;
		}

		.user__name {
			display: none;
		}
	}
}

.main-section {
	.content {
		padding: 50px 40px;
		width: 100%;
		width: calc(100% - 230px);

		&.gray--background {
			padding: 0;
			background: #eceded;

			.content-top-sector {
				background: #fff;
				padding: 50px 40px 0 40px;
			}

			.content-bottom-sector {
				padding: 0px 40px 50px 40px;
			}
		}
	}

	.main-section-window {
		min-height: calc(100% - 65px);
	}

	.title-block {

		h1 {
			text-transform: uppercase;
		}
		
		.add-account-btn {
			position: absolute;
			top: -10px;
			right: 10px;
		}
	}

	h1 {
		font-family: 'SFUIDisplay-Light';
		margin-bottom: 30px;
	}

	p {
		font-size: 16px;
		color: $gray;
		line-height: 20px;
		margin: 0 0 10px 0;
		max-width: 70%;
	}

	p a {
		color: #3e36c4;
	}

	@media (max-width: 1280px) {

		.content {
			padding: 30px 15px;
			width: 100%;
		}
	}

	@media (max-width: 1024px) {
		.content.gray--background {
			padding: 0 15px;

			.content-top-sector {
				padding: 30px 15px 0 15px;
				margin: 0 -15px;
			}
		} 
	}

	@media (max-width: 768px) {
		h1 {
			margin-bottom: 20px;
		}
		p {
			max-width: 100%;
		}

		.title-block{

			.add-account-btn {
				position: relative;
				top: 0;
				right: 0;
				margin-bottom: 30px;
			}
		} 
	}
}

// сайдбар
.sidebar {
	padding: 25px 0;
	background-color: $darkblue;
	width: 230px;
	min-width: 230px;
	min-height: calc(100vh - 65px);
	z-index: 22;

	ul li {
		border-bottom: 1px solid transparent;
		position: relative;
		
		&:before {
			content: '';
			background-repeat: no-repeat;
			background-position: top;
			width: 21px;
			height: 21px;
			position: absolute;
			top: 50%;
			left: 20px;
			@include background-size(cover);
			@include transform(translateY(-50%));
		}

		a {
			height: 50px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			padding: 5px 10px 5px 50px;
			width: 100%;
			color: #fff;
			font-size: 16px;
			font-family: 'SFUIDisplay-Light';
		}

		&.active a {
			background: $deepblue;
			border-bottom-color: #4e4e66;
		}

		&:hover {
			&:before {
				background-position: bottom;
			}
		}

		&.accounts {
			&:before {
				background-image: url('../img/accounts_ico.svg');
			}
		}
		&.direct {
			&:before {
				background-image: url('../img/direct_ico.svg');
			}
		}
		&.subscribes {
			&:before {
				width: 22px;
			    height: 19px;
			    left: 17px;
				background-image: url('../img/subscribe_ico.svg');
			}
		}
		&.unsubscribes {
			&:before {
				width: 22px;
			    height: 19px;
			    left: 17px;
				background-image: url('../img/unsubscribe_ico.svg');
			}
		}
		&.automessage {
			&:before {
				height: 20px;
				background-image: url('../img/automessages_ico.svg');
			}
		}
		&.autocomment {
			&:before {
				height: 20px;
				background-image: url('../img/autocomment_ico.svg');
			}
		}
		&.autogreetings {
			&:before {
				width: 20px;
    			height: 23px;
				background-image: url('../img/autogreetings_ico.svg');
			}
		}
		&.stories {
			&:before {
				background-image: url('../img/stories_ico.svg');
			}
		}
	}

	@media (max-width: 1280px) { 
		display: none;
	}
}
// блок нет аккаунтов
.gray-container {
	margin: 40px 0 60px 0;

	&__inner {
		min-height: 250px;
		background: #eceded;
		padding: 0 15px;
	}

	.add-account-btn {
		position: absolute;
		bottom: -44px;
		left: 0;
		right: 0;
		margin: auto;
		color: #fff;

		&.btn-md {
			bottom: -30px;
		}
	}

	@media (max-width: 1024px) {
		margin: 40px 0 40px 0;
	}

	@media (max-width: 768px) {
		margin: 40px 0 0 0;

		.add-account-btn {
			bottom: -33px;
		}
	}
}

.empty-accounts-block {
	p {
		font-size: 28px;
		color: #9c9e9f;
		font-family: 'SFUIDisplay-Light';
		text-align: center;
		line-height: 1.2;
	}

	@media (max-width: 768px) {
		p {
			font-size: 22px;
		}
	}
}

.accounts-wrapper {
	margin-top: 20px;

	h2 {
		margin: 15px 0;
	}
}

.accounts-list {
	margin-bottom: 30px;

	.account {
		border: 1px solid #e2e3e4;
		height: 192px;
		padding: 20px 35px;
		margin-bottom: 6px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		@include background-size(cover);
		background-position: center;
		@include transition(ease-in-out .5s);
		background-color: #fff;

		> a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 22;
		}

		&:not(.account-no-hover):hover {
			background-image: url('../img/account_hover_bg.jpg');

			.account__info, .account__user {
				color: #fff;
			}

			.account__info .ai-block {
				border-left-color: #d0ddee;
			}

			.context-btn {
				color: #fff;

				&:hover {
					background: #4d4c4c;
				}
			}

			.account-left-days {
				color: #fff;

				.days-count {
					color: #49e6f2;
				}
			}

			.account-tariff-expired {
				span {
					color: #fff;
				}
			}
		}

		.context-btn {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: none;
			position: absolute;
			top: 15px;
			right: 15px;
			color: #9c9e9f;
			font-size: 14px;
			background: transparent;
			text-align: center;
			z-index: 44;

			&:hover {
				background: #eee;
			}
		}

		&__user {
			height: 150px;

			.user-name {
				margin-left: 25px;
				position: relative;
				max-width: calc(100% - 120px);
			}

			img {
				min-width: 100px;
				max-width: 100px;
				border-radius: 50%;
			}

			.nickname {
				font-size: 24px;
				font-family: 'SFUIDisplay-Bold';
				line-height: 26px;
			}

			.user-descr {
				font-size: 16px;
				line-height: 20px;
				margin-top: 4px;
			}

			.verify-btn {
				font-size: 16px;
				color: #d40050;
				background: transparent;
				border: 2px solid #d40050;
				border-radius: 20px;
				padding: 6px 15px;
				position: absolute;
				white-space: nowrap;
				top: 100%;
				margin: 5px 0 0 -10px;

				&:hover {
					background: #d40050;
					color: #fff;
				}
			}
		}

		&__info {
			height: 150px;

			.ai-block {
				max-width: 150px;
				text-align: center;
				font-size: 16px;
				padding: 0 22px;
				border-left: 2px dotted #9c9d9e;

				&:first-child {
					border-left: none;
				}

				&__counts {
					font-size: 34px;
					line-height: 36px;
				}
			}
		}

		.account-action-buttons {
			padding: 0 35px;
			position: absolute;
			bottom: 20px;
			left: 0;
			z-index: 44;
			flex-wrap: nowrap;
			opacity: 0;
			@include transform(translateY(100%));
			@include transition(ease-in-out .5s);
			pointer-events: none;
		}

		.close-btn {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		form {
			width: 100%;
		}

		.form-buttons {
			margin-top: 25px;

			.back {
				position: absolute;
			    right: 100%;
			    white-space: nowrap;
			}
		}

		.leftside {
			width: 37%;
			padding-right: 10px;
		}

		.rightside {
			width: 63%;
		}

		&.account-free {
			padding: 35px 35px;
			height: auto;

			.account__user, .account__info {
				-webkit-align-items: center;
				align-items: center;
				height: auto;
			}
		}

		.account-info {

			&__row {
				margin: 4px 0;

				strong, .row-title {
					font-family: 'SFUIDisplay-Bold';
					margin-right: 5px;
				}
			}
		}

		.account-manage-button {
			padding-left: 35px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		
		.account-left-days {
			font-size: 14px;
			color: $gray;
			position: absolute;
			bottom: 20px;
			right: 25px;

			.days-count {
				color: $blue;
			}
		}
		.account-tariff-expired {
			position: absolute;
			bottom: 10px;
			right: 25px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			z-index: 33;
			text-align: right;

			span {
				font-size: 14px;
				color: #1a171b;
				margin-right: 10px;
			}
		}

		&.active {
			height: 222px;
			background-image: url('../img/account_hover_bg.jpg');


			.account__info, .account__user {
				color: #fff;
			}

			.account__info .ai-block {
				border-left-color: #d0ddee;
			}

			.context-btn {
				color: #fff;

				&:hover {
					background: #4d4c4c;
				}
			}

			.account-action-buttons {
				@include transform(translateY(0));
				opacity: 1;
				pointer-events: auto;
			}

			.account-left-days {
				color: #fff;

				.days-count {
					color: #49e6f2;
				}
			}

			.account-tariff-expired {
				span {
					color: #fff;
				}
			}
		}
	} 

	&.subs-list {
		border-top: 1px solid #e2e3e4;
		border-bottom: 1px solid #e2e3e4;

		.account {
			border-bottom: none;
			border-top: none;
			margin-bottom: 0;
			padding: 16px 35px;

			&:first-child {
				padding-top: 54px;
			}
		}
	}

	.button-wrap {
		padding: 15px 0 30px;
		background-color: #fff;
	}

	@media (max-width: 1024px) {
		.account {
			padding: 20px 20px;
			height: 160px;

			&.account-free {
				padding: 20px 20px;
			}

			&.active {
				height: 200px;
			}

			&__user, &__info {
				height: 120px;
			}

			&__user {
				.user-name {
					margin-left: 15px;

					.nickname {
						font-size: 20px;
						line-height: 22px;
					}
				}
				.verify-btn {
					padding: 3px 10px;
					font-size: 14px;
				}
			}

			&__info {
				.ai-block {
					padding: 0 15px;

					&__counts {
						font-size: 26px;
	    				line-height: 30px;
					}
				}
			}

			.account-action-buttons {
				padding: 0 20px;
			}

			.leftside, .rightside {
				width: 50%;
			}
		}
	}

	@media (max-width: 768px) {
		margin-bottom: 0;

		.account {
			height: auto;
			flex-wrap: wrap;
			padding: 15px;

			.context-btn {
				top: 5px;
				right: 5px;
			}

			&.active {
				height: auto;
				padding-bottom: 50px;
			}

			&__user, &__info {
				height: auto;
				width: 100%;
			}

			&__user {
				padding-right: 20px;
				position: static;

				img {
					min-width: 70px;
    				max-width: 70px;
				}

				.user-descr {
					font-size: 14px;
					line-height: 18px;
				}

				.user-name{
					margin-left: 10px;
					position: static;
					max-width: calc(100% - 80px);

					.nickname {
						font-size: 16px;
						position: static;
					}

					.badge {
						position: absolute;
					    top: 5px;
					    right: 30px;
					}
				} 

				.verify-btn {
					position: relative;
					margin: 5px 0 0 -5px;
				}
			}

			&__info {
				margin-top: 15px;

				.ai-block {
					max-width: 40%;
					padding: 0 5px;
				    font-size: 13px;
				    text-align: center;

					&__counts {
						font-size: 22px;
    					line-height: 26px;
					}
				}
			}

			.close-btn {
				top: 5px;
				right: 5px;
			}

			.account-action-buttons {
				bottom: 10px;
				padding: 0 15px;
				max-width: 100%;
			}
			
			.flex-nowrap {
				flex-wrap: wrap!important;
			}

			.leftside {
				width: 100%;
				padding-right: 0;

				.account__user {
					padding-right: 0;
				}
			}

			.rightside {
				width: 100%;
			}

			.form-block {
				padding-left: 0;
				border-left: none;
				margin-top: 25px;
				margin-bottom: 25px;
			}

			.form-buttons {
				margin-top: 0;

				.back {
					position: static;
					margin: 20px 20px 20px 0;
				}
			}

			.bordered {
				border-left: none;
			}

			.account-left-days {
				position: static;
				margin-top: 15px;
			}
			.account-tariff-expired {
				position: static;
				margin-top: 15px;
			}
		}

		&.subs-list {

			.account {

				&:first-child {
					padding-top: 20px;
				}

				.rightside {
					margin-top: 15px;
					padding-right: 55px;
					position: relative;

					.account-manage-button {
						padding-left: 15px;
						position: absolute;
						top: 50%;
						right: 0;
						@include transform(translateY(-50%));
					}
				}

			}
		} 
	}
}

// логи
.logs-list {
	border: 1px solid #e2e3e4;
	background-color: #fff;
	padding: 15px 40px;

	li {
		padding: 7px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		font-size: 16px;
		line-height: 20px;
		border-bottom: 1px solid #e2e3e4;

		&:last-child {
			border-bottom: none;
		}

		> div:last-child {
			margin-left: 5px;
		}
	}

	@media (max-width: 768px) {
		padding: 15px 15px;

		li {
			font-size: 14px;
			line-height: 18px;
		}
	}
}

.login-system {
	background-image: url('../img/start_bg.jpg');
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	@include background-size(cover);

	.header {
		background: none;
	}

	.login-container {
		padding: 0 10px 50px 10px;
	}

	.login-form {
		background: #fff;
		padding: 40px 28px;
		border-radius: 10px;
		max-width: 450px;

		h1 {
			font-family: 'SFUIDisplay-Regular';
		}

		p {
			font-size: 18px;
			color: #1a171b;
			font-family: 'SFUIDisplay-Light';

			a {
				font-family: 'SFUIDisplay-Regular';
			}
		}

		form {
			margin-top: 10px;
			margin-bottom: 40px;
		}

		.mdl-textfield--floating-label{
			color: $blue;

			.mdl-textfield__label{
				color: #707173;
				font-size: 18px;
			}

			&:after{
				bottom: 12px;
			}

			&.is-focused, &.is-dirty {
				.mdl-textfield__label{
					color: $blue;
					font-size: 12px;
				}
			}
		}

		.password-elem {
			width: 66%;

			.fa {
				position: absolute;
			    top: 50%;
			    right: 0;
			    color: #707173;
			    margin-top: -8px;
			    cursor: pointer;
			}
		}

		.forgot-password {
			font-size: 15px;
			font-family: 'SFUIDisplay-Light';
			color: $blue;
			white-space: nowrap;
			margin-left: 10px;

			&:hover {
				color: #0056b3;
			}
		}

		label.error {
			position: absolute;
			margin-bottom: 0;
		}

		.buttons {
			margin-top: 30px;
			
			a {
				display: inline-block;
				width: 68px;
				height: 68px;
				background-repeat: no-repeat;
				background-position: top center;
				@include background-size(cover);
				margin: 0 6px;

				&:last-child {
					margin-right: 0;
				}

				&.fb {
					background-image: url('../img/fb_ico.png');
				} 

				&.vk {
					background-image: url('../img/vk_ico.png');
				} 
			}
		}
	}

	@media (max-width: 768px) {
		.login-form {
			padding: 20px 15px;

			form {
				margin-bottom: 20px;
			}

			p {
				font-size: 16px;
				margin-bottom: 0;
			}

			.forgot-password {
				font-size: 14px;
			}
		}

		.buttons {
			margin-top: 20px;

			.blue-btn {
				margin-bottom: 40px;
			}
		}
	}
}

.mdl-textfield {
	width: 100%;
	padding: 15px 0;
}
.mdl-textfield__label {
	top: 19px;
	color: $gray;
}
.mdl-textfield__label:after{
	bottom: 8px;
	background-color: $blue;
}
.mdl-textfield__input {
	border-bottom-color: #b1b2b3;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
	top: 2px;
}


// выбор тарифа
.choose-tariff {
	width: 360px;
	text-align: center;
	padding-bottom: 40px;

	.choose-tariff__title {
		font-size: 24px;
		color: #1a171b;
		font-family: 'SFUIDisplay-Light';
		margin-bottom: 10px;
	}

	p {
		font-size: 16px;
		color: $gray;
		line-height: 20px;
		max-width: 100%;
	}

	.calc-table {
		margin-bottom: 30px;

		.column {
			width: 33.3%;
			border-left: 2px dotted #b6b7b7;

			&:first-child {
				border-left: none;
			}

			p {
				margin-bottom: 0;
			}

			.base-price {
				position: relative;

				&:after {
					content: '';
					width: 100%;
					height: 1px;
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					background: red;
				}
			}

			&__head {
				height: 40px;
			}

			&__count {
				font-size: 34px;
				color: $blue;
				line-height: 40px;
			}
		}
	}

	.irs--flat {

		.irs-line {
			height: 4px;
			background-color: $gray;
		}

		.irs-bar {
			height: 4px;
			background-color: #1a171b;
		}

		.irs-single {
			top: -5px;
			background-color: $gray;

			&:before {
				border-top-color: $gray;
			}
		}

		.irs-grid {
			bottom: 11px;
		}

		.irs-grid-pol {
			background: $gray;
			opacity: 1;
			height: 4px;
		}

		.irs-grid-text {
			display: none;
		}

		.irs-handle {
			width: 25px;
			height: 26px;
			background-image: url('../img/irs_ball.png');
			top: 14px;
			cursor: pointer;

			i {
				display: none!important;
			}
		}
	}

	@media (max-width: 768px) {
		p {
			font-size: 14px;
		}

		.calc-table {
			margin-bottom: 20px;

			.column__count {
				font-size: 24px;
			}
		}
	}
}

.tabs {
	margin: 40px 0 0 0;

	li {
		border-left: 1px dotted $gray;

		&:first-child {
			border-left: none;
		}

		a {
			display: block;
			font-size: 16px;
			color: $blue;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px 15px;
			position: relative;

			&:after {
				content: '';
				border: 10px solid transparent;
				border-top-color: #3c006d;
				width: 0;
				position: absolute;
				bottom: -20px;
				left: 0;
				right: 0;
				margin: auto;
				display: none;
			}
		}

		&.active {
			a {
				background: #3c006d;
				color: #fff;

				&:after {
					display: block;
				}
			}
		}
	}

	@media (max-width: 768px) {
		margin: 40px -15px 0;
		-webkit-justify-content: center;
		justify-content: center;

		li {
			a {
				padding: 5px 10px;
				font-size: 12px;
			}
		}
	}
}

// шаги
.stepper-wrap {
	max-width: 360px;
	width: 100%;
	position: relative;
	margin: 5px 10px 0 34px;

	.stepper-grid {
		position: absolute;
	    left: 0;
	    right: 0;
	    top: -25px;

		span {
			display: inline-block;
			width: 14px;
			height: 14px;
			position: absolute;
			margin-left: -7px;
    		margin-top: -4px;
    		text-align: center;
    		font-size: 14px;
    		color: $gray;

    		&:after {
    			content: '';
    			width: 14px;
    			height: 14px;
				border-radius: 50%;
				background: #c6c7c8;
				position: absolute;
				top: 25px;
				left: 0;
    		}
    		&:before {
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: transparent;
				position: absolute;
				top: 28px;
				left: 3px;
				z-index: 22;
				pointer-events: none;
			}

			&.selected {
				color: $blue;

				&:before {
					background: $blue;
				}
			}

			&:nth-child(1) {
				left: 0%;
				color: $blue;

				&:before {
					background: $blue;
				}
			}
			&:nth-child(2) {
				left: 25%;
			}
			&:nth-child(3) {
				left: 50%;
			}
			&:nth-child(4) {
				left: 75%;
			}
			&:last-child {
				left: 100%;
			}
		}
	}

	.ui-widget-content {
		border: none;
		background: #c6c7c8;
		height: 6px;

		.ui-slider-handle {
			width: 8px;
			height: 8px;
			background: $blue;
			top: -1px;
		    border: none;
		    margin-left: -4px;

		    &:after {
		    	content: 'Шаг';
		    	color: $blue;
		    	font-size: 14px;
		    	position: absolute;
		    	top: -29px;
    			left: -29px;
		    	font-family: 'SFUIDisplay-Light';
		    }
		}
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 20%;
	    height: 60%;
	    background: $blue;
	}

	&.two-step {
		width: 100px;
	}
	&.three-step {
		width: 190px;

		.stepper-grid span:nth-child(2) {
			left: 50%;
		}
	}

	@media (max-width: 768px) {
		margin: 30px 10px 30px 34px;
	}
}
// ожидание якассы
.waitbox {
	max-width: 400px;
	text-align: center;
	padding: 7em 0;

	p {
		margin: auto;
	}

	@media (max-width: 1024px) {
		padding: 5em 0;
	}
}

// список бесед
.chats-wrapper {
	margin-bottom: 30px;

	.chats-list {
		min-height: 790px;
		background: #fff;
		border: 1px solid #e2e3e4;
		padding-bottom: 25px;
		height: 100%;

		.account__user-wrap {
			padding: 35px 25px 25px 35px;
		}

		.account__user {
			
			.user-name {
				margin-left: 25px;
			}

			img {
				min-width: 100px;
				max-width: 100px;
			}

			.nickname {
				font-size: 24px;
				font-family: 'SFUIDisplay-Bold';
				line-height: 26px;
			}

			.user-descr {
				font-size: 16px;
				line-height: 20px;
				margin-top: 4px;
				margin-bottom: 2px;
			}
		}

		.account-manage-button {
			border-left: 2px dotted #d2d2d3;
			padding: 15px 0 15px 25px;

			.badge {
				position: absolute;
			    top: 10px;
			    right: -5px;
			    margin: 0;
			}
		}

		.interlocutors-list {

			li {
				padding: 10px 10px 10px 50px;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;

				>a {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 44;
				}

				&.active {
					background-color: #eceded;
					border-top-color: #d9dadb;
					border-bottom-color: #d9dadb;
				}
			}

			img {
				min-width: 70px;
				max-width: 70px;
				border-radius: 50%;
			}

			.user-info {
				width: calc(100% - 70px);
				padding-left: 12px;

				&__name {
					font-size: 16px;
					line-height: 20px;
				}

				&__activity {
					font-size: 16px;
					color: #000;
					line-height: 20px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-wrap: wrap;
					position: relative;

					p {
						max-width: 100%;
						margin-bottom: 0;
					}

					&.status-new {
						padding-right: 50px;

						&:after {
							content: '';
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background: $blue;
							position: absolute;
							top: 50%;
							right: 30px;
							margin-top: -5px;
						}
					}
				}

				.mes {
					color: #000;
					font-family: 'SFUIDisplay-Bold';
				}
			}
		}
	}

	.broadcast {
		background: #fff;
		border: 1px solid #e2e3e4;
		padding: 35px 35px 80px 35px;
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;

		&.align-bottom {
			-webkit-align-items: flex-end;
			align-items: flex-end;
		}

		ul {
			max-height: 658px;
			overflow-y: auto;
			width: 100%;

			li {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				font-size: 16px;
				line-height: 20px;
				color: #1a171b;
				padding-right: 50px;
				margin-bottom: 10px;

				&.pnone {
					padding-right: 0;
				}
			}
		} 

		.in-mess {
			&.re-mess {
				.mess-time {
					top: auto;
					margin-top: 0;
					bottom: 15px;
				}
			}
		}

		.mess-ico {
			margin-right: 10px;
			img {
				min-width: 70px;
				max-width: 70px;
			}
		}

		.mess-body {
			padding-top: 4px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: calc(100% - 80px);
		}

		.user-name {
			font-size: 16px;
			line-height: 20px;
			color: $gray;
			margin-bottom: 4px;
			width: 100%;
		}

		.mess-time {
			font-size: 16px;
			line-height: 20px;
			color: #87888a;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -10px;
		}

		.mess-txt {
			padding: 10px 15px;
			border: 1px solid #e2e3e4;
			border-radius: 30px;
			max-width: 100%;

			.mess-in-box {
				margin: 8px 0;
			}

			&.re-mess {
				border-radius: 20px;
			}
		}

		.my-mess {
			-webkit-justify-content: flex-end;
			justify-content: flex-end;

			.mess-body {
				-webkit-justify-content: flex-end;
				justify-content: flex-end;
			}

			.mess-txt {
				background: #eceded;
			}
		}

		.user-info {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;

			&__ico {
				padding-right: 15px;
				img {
					min-width: 70px;
					max-width: 70px;
				}
			}

			&__name {
				margin: 5px 0;
			}
		}
		
		.confirm-broadcast-box {
			width: 100%;
			min-height: 80px;
			background-repeat: no-repeat;
			background-image: url('../img/confirm_bg.jpg');
			background-position: center;
			margin-bottom: 20px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			margin-top: 10px;
			padding: 10px;
			@include background-size(cover);

			button {
				margin: 10px;
			}
		}

		.broadcast-box {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 35px;

			form {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
			    -webkit-justify-content: space-between;
			    justify-content: space-between;
			}

			.input-box {
				position: relative;
				width: calc(100% - 54px);

				.add-pic-btn {
					position: absolute;
					right: 45px;
					top: 50%;
					@include transform(translateY(-50%));
					display: inline-block;
					border: none;
					background-image: url('../img/pictures_ico.svg');
					width: 31px;
					height: 23px;
					background-repeat: no-repeat;

					&:hover {
						background-position: bottom;
					}
				}

				.add-smile-btn {
					color: $blue;
					position: absolute;
					right: 10px;
					top: 50%;
					width: 26px;
					height: 26px;
					@include transform(translateY(-50%));
					@include background-size(cover);
					display: inline-block;
					background-image: url('../img/smile_ico.svg');
					background-repeat: no-repeat;

					&:hover {
						background-position: bottom;
					}
				}
			}

			input {
				background-color: #eceded;
				border-radius: 30px;
				font-size: 16px;
				padding: 0px 75px 0 15px;
				border: none;
				height: 46px;
				width: 100%;

				@include placeholder() {
					color: $gray;
				} 
			}

			button[type="submit"] {
				background-image: url('../img/send_message_ico.svg');
				@include background-size(cover);
				border: none;
				width: 46px;
				height: 46px;
				background-repeat: no-repeat;
				background-color: transparent;
				cursor: pointer;

				&:hover {
					background-position: bottom;
				}
			}
		}
	}

	@media (max-width: 768px) {

		.chats-list {

			.account__user-wrap {
				padding: 15px;
			}

			.account__user {
				flex-wrap: wrap!important;

				.user-name {
					width: 100%;
					margin-left: 0;
					margin-top: 10px;
				}
			}

			.account-manage-button {
				padding-left: 15px;
			}

			.interlocutors-list {

				li {
					padding-left: 25px;
				}

				.user-info__activity {
					font-size: 14px;
					line-height: 18px;

					p {
						font-size: 14px;
						line-height: 18px;
					}
				}
			} 
		}

		.broadcast {
			padding: 15px 15px 100px 15px;

			ul {
				li {
					padding-right: 35px;
					font-size: 14px;
    				line-height: 18px;
				}
			}

			.mess-body {
				max-width: calc(100% - 60px);
			}

			.mess-ico img {
				min-width: 50px;
				max-width: 50px;
			}

			.mess-time {
				font-size: 12px;
			}

			.mess-txt {
				padding: 5px 10px;
			}

			.user-info {	
				flex-wrap: wrap;

				&__ico img {
					min-width: 50px;
					max-width: 50%;
				}
			}

			.confirm-broadcast-box {
				flex-wrap: wrap;
			}

			.broadcast-box {
				padding: 15px;

				input {
					padding: 0 15px;
				}

				.input-box {
					text-align: right;

					.add-pic-btn, .add-smile-btn {
						position: static;
						@include transform(translateY(0));
						vertical-align: text-top;
						margin-top: 10px;
					}

					.add-pic-btn {
						margin-top: 12px;
					}
				} 
			}
		}
	}
}


// popovers
.popover > *{
	overflow: auto;
}

.popover-content {
	display: none;
}

.popover {
	font-family: 'SFUIDisplay-Regular';
	border: none;
	border-radius: 0;
	z-index: 999;

	.popover-body {
		padding: 0;
	}
}

.direct-popover {
	.arrow {
		margin: 1px 0;

		&:after {
			top: auto;
			border-top-color: #3d006b;
			border-bottom-color: #3d006b;
		}	
	}

	.choose-account-list {
		width: 224px;
		@include background-size(cover);
		padding: 15px;
		background-image: url('../img/direct_box_bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 0;

		li {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			margin-bottom: 8px;
			position: relative;
			padding-right: 25px;

			.badge {
				position: absolute;
				right: -5px;
				top: 50%;
				margin-top: -10px;
			}

			>a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 22;
			}

			&:last-child {
				margin-bottom: 0;
			}

			img {
				min-width: 50px;
				max-width: 50px;
			}

			.account-name {
				color: #fff;
				padding-left: 10px;
				font-size: 16px;
				line-height: 20px;
				font-family: 'SFUIDisplay-Bold';
			}
		}
	}
}


// forms
.form-data {
	max-width: 360px;
	width: 100%;
	text-align: center;
	padding: 20px 0 0;

	.form-validate {
		margin-top: 20px;
	}

	.element {
		width: 100%;
		margin-bottom: 10px;
		text-align: left;
	}

	input[type="text"] {
		width: 100%;
		background: #fff;
		height: 38px;
		padding: 0 12px;
		border: 1px solid transparent;
		font-size: 16px;
		color: #1a171b;

		&.error {
			border-color: red;
		}

		@include placeholder() {
			color: #b1b3b4;
		} 
	}

	.fa-question-circle {
		margin-left: 4px;
		color: $gray;
		cursor: pointer;
	}

	.proxy-wrap {
		margin: 25px 0 0;
	}

	.proxy-link {
		font-size: 14px;
		color: $blue;

		i {
			margin-right: 4px;
		}

		span {
			border-bottom: 1px dashed;
		}

		&.active {
			color: #1a171b;

			i {
				@include transform(rotate(90deg));
			}
		}
	}

	.blue-btn.btn-md {
		position: relative;
	}

	.flex-cols {
		>.element {
			&:first-child {
				width: 70%;
				margin-right: 10px;
			}
			&:last-child {
				width: 30%;
			}
		}
	}

	.proxy-block-hidden {
		display: none;
		margin-top: 25px;
	}
}

.form-checkboxes {
	padding: 5px 0;
	margin-top: 15px;

	.element {
		label {
			margin-bottom: 0;
			padding: 5px 0 5px 25px;

			span:not(.select2) {
				vertical-align: top;
			}
		}

		.fa {
			margin-left: 5px;
			color: $gray;
		}

		input[type="radio"] {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			overflow: hidden;

			&:checked + i:after {
				@include transform(scale(1));
				@include transition(.2s);
			}
		}

		input[type="radio"] + i {
			display: inline-block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: 1px solid #959697;
			background: #eceded;
			position: absolute;
			top: 5px;
			left: 0;

			&:after {
				content: '';
				background: $blue;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				@include transform(scale(0));
				@include transition(.2s);
			}
		}

		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			overflow: hidden;

			&:checked + i:after {
				@include transform(scale(1));
				@include transition(.2s);
			}
		}

		input[type="checkbox"] + i {
			display: inline-block;
			width: 20px;
			height: 20px;
			border: none;
			background: #eceded;
			position: absolute;
			top: 5px;
			left: 0;

			&:after {
				content: '';
				background: url('../img/check_ico.svg');
				background-position: center; 
				width: 20px;
				height: 20px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				@include transform(scale(0));
				@include transition(.2s);
			}
		}
	}
}

.form-settings {
	color: #1a171b;
	margin-bottom: 15px;

	.leftside {
		width: 38%;
	}

	.rightside {
		width: 62%;
	}

	.flex-cols {
		> div {
			&:first-child {
				min-width: 130px;
			}
		}
	}

	.top-right-buttons {
		position: absolute;
	    top: -10px;
	    right: 0;

		a {
			margin-left: 15px;
		}
	}

	.select2-container {
		max-width: 250px;
	}

	@media (max-width: 768px) {
		.leftside, .rightside {
			width: 100%;
			margin: 5px 0;
		}

		.top-right-buttons {
			position: relative;
			top: 0;
			margin-top: 15px;
		}
	}
}

.form-block {
	margin-top: 15px;
	max-width: 385px;
	width: 100%;
	padding-left: 25px;

	span, p {
		font-size: 16px;
		color: #000;
		margin-bottom: 5px;
		max-width: 100%;
	}

	.fa {
		color: $gray;
	}

	.element {
		margin-bottom: 15px;
	}

	textarea {
		width: 100%;
		height: 138px;
		background: #eceded;
		padding: 12px;
		border: 1px solid transparent;
		resize: none;

		&.sm-size {
			height: 70px;
		}
	}

	input {
		width: 100%;
		height: 38px;
		background: #eceded;
		padding: 0 12px;
		border: 1px solid transparent;
	}

	.message-block {

		&__inner {
			position: relative;
			height: 138px;

			textarea {
				padding-right: 20px;
			}

			.smile-btn {
				position: absolute;
				top: 10px;
				right: 10px;
				color: $blue;
				font-size: 18px;
				z-index: 44;

				.fa {
					color: $blue;
				}
			}

			.addbtns {
				position: absolute;
				bottom: 10px;
				right: 10px;
				z-index: 44;

				.addbtn {
					display: inline-block;
					text-decoration: none;
					border: none;
					background-color: transparent;
					margin-left: 10px;
				}
			}
		}
	}

	.more-add-btn {
		margin-top: 15px;
	}

	.gray-txt {
		color: $gray;
		font-size: 16px;
		line-height: 20px;
		margin-top: 15px;
	}

	.flex-cols {
		>.element {
			margin-bottom: 0;
			&:first-child {
				width: calc(70% - 10px);
				margin-right: 10px;
			}
			&:last-child {
				width: 30%;
			}
		}
	}
}


// modals
.white-popup-block {
	padding: 40px 30px;

	.close-btn {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	@media (max-width: 768px) {
		padding: 35px 15px;

		.close-btn {
			top: 10px;
			right: 10px;
		}
	}
}
.modal-sm {
	max-width: 460px;
	background: #fff;
	margin: auto;
	text-align: center;
	
	.subtitle {
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		color: $gray;
	}
}
.verify-modal {

	.buttons {
		margin-top: 40px;

		a {
			margin: 0 7px;
		}
	}
}
.check-account-modal {

	.form-validate {
		max-width: 340px;
		margin: auto;

		.element {
			text-align: left;
		}

		input {
			width: 100%;
			height: 36px;
			padding: 0 12px;
			border: 1px solid transparent;
			font-size: 16px;
			color: #1a171b;
			background: #eceded;

			&.error {
				border-color: red;
			}

			@include placeholder() {
				color: $gray;
			} 
		}

		label.error {
			font-size: 14px;
			color: red;
			margin-bottom: 0;
		}

		.buttons {
			margin-top: 25px;
		}

		.request-again-link {
			font-size: 16px;

			.fa {
				position: relative;
				top: 1px;
			}
		}
	}

	@media (max-width: 768px) {
		.form-validate .buttons {
			-webkit-justify-content: center;
			justify-content: center;
			margin-top: 10px;

			>* {
				margin: 10px 5px;
			}
		}
	}
}
.edit-account-modal {
	max-width: 500px;
	padding-left: 50px;
    padding-right: 50px;

    label.error {
    	position: absolute;
    	left: 0;
    	bottom: 0;
    	margin-bottom: 0;
    }

	.edit-form-wrapper {
		margin-top: 20px;
	}

	.switchbox {
		height: 30px;

		span {
			font-size: 16px;
			color: #1a171b;
		}
	}

	.leftside {
		width: 33%;
	}
	.rightside {
		width: 66%;
		text-align: left;
	}

	.image-box {
		text-align: center;
		padding-right: 7%;

		img {
			max-width: 100px;
			border-radius: 50%;
			margin-bottom: 5px;
		}
	}

	.buttons {
		margin-top: 15px;

		.blue-btn {
			margin-right: 15px;
		}
	}

	@media (max-width: 768px) {
		padding-left: 15px;
    	padding-right: 15px;

    	.leftside, .rightside {
    		width: 100%;
    	}
	}
}

.tumbler{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 30px;

	.st{
		font-size: 13px;
		color: #7c8389;
		vertical-align: top;
		white-space: nowrap;
		position: absolute;
		top: 100%;
		margin-top: 7px;
		left: 50%;
		@include transform(translateX(-50%));

		&:last-child{
			display: none;
		}
	}

	.toggle-bg{
	    background: $gray;
	    display: block;
	    height: 12px; 
	    position: relative; 
	    width: 30px; 
	    border-radius: 10px;
	}

	.toggle-bg input{
	    height: 28px;
	    left: 0;
	    margin: 0; 
	    opacity: 0; 
	    padding: 0;
	    position: absolute;
	    top: -10px; 
	    width: 36px;
	    z-index: 2;
        /*IE*/
        zoom: 1;
        filter: alpha(opacity=0);
	}

	.switch{
	    background: #fff;
	    display: block;
	    float: left;
	    height: 20px;
	    left: -2px; 
	    position: relative;
	    top: -4px; 
	    width: 20px;
	    z-index: 1; 
	    border-radius: 50%;
	    border: 1px solid $gray;
	}

	.toggle-bg input:checked~.switch{left: -2px;}

	.toggle-bg input~:checked~.switch{
		left: 12px;
		background: $blue;
		border-color: #fff;
	} 
	.toggle-bg input~:checked~.switch + .tumbler-bg{
		background: $blue;
	    display: block;
	    height: 12px; 
	    position: relative; 
	    width: 30px; 
	    margin: 0 auto 0;
	    border-radius: 10px;
	    position: absolute;
	}
	.toggle-bg input~:checked~.switch + .tumbler-bg + .st{
		display: none;
	}
	.toggle-bg input~:checked~.switch + .tumbler-bg + .st + .st{
		color: #4fbd4f;
		display: block;
	}
	.toggle-bg input:checked{z-index: 0;}
}


.pushy {
	background-color: #302f60;

	.logo {
		font-size: 26px;
		color: #fff;
		text-transform: uppercase;
		margin: 10px 0 0 10px;

		span {
			font-family: 'SFUIDisplay-Thin';
		}
	}

	ul {
		li {
			border-bottom: 1px solid transparent;

			a {
				height: 50px;
			    display: -webkit-flex;
			    display: -moz-flex;
			    display: -ms-flex;
			    display: -o-flex;
			    display: flex;
			    -webkit-align-items: center;
			    align-items: center;
			    padding: 5px 10px 5px 40px;
			    width: 100%;
			    color: #fff;
			    font-size: 16px;
			    font-family: 'SFUIDisplay-Light';
			}

		    &.active a {
		    	background: #292852;
			 		border-bottom-color: #4e4e66;
		    }
		}
	}
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $blue;
  font-size: 8px;
  margin: 20px auto 50px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: -0.14s;
  animation-delay: -0.14s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -2.5em;
  -webkit-animation-delay: -0.28s;
  animation-delay: -0.28s;
}
.loader:after {
  left: 2.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em;
  }
  40% {
    box-shadow: 0 2em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em;
  }
  40% {
    box-shadow: 0 2em 0 0;
  }
}