@charset "utf-8";
@import "mixins.scss";
@import url(../fonts/sfuidisplay-thin.css);
@import url(../fonts/sfuidisplay-light.css);
@import url(../fonts/sfuidisplay-regular.css);
@import url(../fonts/sfuidisplay-bold.css);
@import url(../fonts/sfuidisplay-heavy.css);

$darkblue: #302f60;
$deepblue: #292852;
$blue: #3e36c4;
$gray: #87888a;

body{
	font-family: 'SFUIDisplay-Regular';
	-webkit-text-size-adjust: none;
	color: #000;
}

.in-container {
	width: 980px;
	margin: auto;
}

html {
	height: auto;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;

	&.flex-justi {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	&.flex-valign {
		-webkit-align-items: center;
		align-items: center;
		height: 100%;
	}
	&.flex-align {
		-webkit-align-items: center;
		align-items: center;
	}
	&.flex-nowrap {
		flex-wrap: nowrap;
	}
	&.flex-end {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	&.flex-center-center {
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
	}
	&.flex-center {
		-webkit-justify-content: center;
		justify-content: center;
	}
	&.flex-column {
		flex-direction: column;
	}
}

.wrapper {
	min-height: 100%;
}

a {
	text-decoration: none;
	outline: none;
	color: $blue;

	&:hover {
		text-decoration: none;
		color: #0056b3;
	}
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

button, a {
	outline: none!important;
}

p {
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, strong, ins {
	font-weight: normal!important;
}

h1 {
	font-size: 36px;
	color: #3e36c4;
	font-family: 'SFUIDisplay-Light';
	letter-spacing: normal;
    margin: auto;
}

h2, .subtitle {
	font-size: 24px;
	color: #1a171b;
	font-family: 'SFUIDisplay-Light';
	letter-spacing: normal;
    margin: auto;
}

// buttons
.blue-btn {
	background: #2d6dda; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d6dda 0%, #3d23c8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2d6dda 0%,#3d23c8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2d6dda 0%,#3d23c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6dda', endColorstr='#3d23c8',GradientType=0 ); /* IE6-9 */
	border: none;
	color: #fff!important;
	border-radius: 30px;
	font-size: 16px;
	transition: .2s;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	position: relative;

	&:active {
		position: relative;
		top: 2px;
		box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.8);
	}

	&:hover {
		background: #3d23c8; /* Old browsers */
		background: -moz-linear-gradient(top,  #3d23c8 0%, #2d6dda 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #3d23c8 0%,#2d6dda 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #3d23c8 0%,#2d6dda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d23c8', endColorstr='#2d6dda',GradientType=0 ); /* IE6-9 */
	}

	&.btn-large {
		font-size: 22px;
	}

	&.question-btn {
		width: 188px;
		height: 54px;
	}

	&.btn-large-size {
		padding: 17px 18px;
	}

	&.add-account-btn {
		width: 300px;
		height: 86px;
		text-align: center;
	    border-radius: 50px;
	    line-height: 66px;
	    padding-left: 50px;

	    &:before {
			content: '';
			background: url('../img/finger_print.svg');
			@include background-size(contain);
			width: 40px;
			height: 40px;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			left: 24px;
			background-repeat: no-repeat;
	    }

	    &:after {
	    	content: '';
	    	background: url('../img/btn_shadow.png');
	    	@include background-size(contain);
	    	width: 314px;
	    	height: 50px;
	    	position: absolute;
	    	bottom: -44px;
	    	left: -7px;
	    	background-repeat: no-repeat;
	    }

	    &:active:after {
			margin-top: -48px;
	    }

	    &.btn-md {
			width: 226px;
			height: 65px;
			font-size: 18px;
			line-height: 45px;

			&:before {
				width: 30px;
				height: 32px;
				margin-top: -16px;
				left: 18px;
			}

			&:after {
				width: 240px;
				height: 46px;
			}
		}
	}
}
.action-btn {
	width: 30px;
	height: 30px;
	border: none;
	display: inline-block;
	border-radius: 50%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: initial;
	padding: 0;

	&.send-btn {
		background-image: url('../img/send_ico.svg');
	}
	&.subscribe-btn {
		background-image: url('../img/subscribe_ico.svg');
	}
	&.resubscribe-btn {
		background-image: url('../img/resubscribe_ico.svg');
	}
	&.automessage-btn {
		background-image: url('../img/automessage_ico.svg');
	}
	&.autocomment-btn {
		background-image: url('../img/autocomment_ico.svg');
	}
	&.hello-btn {
		background-image: url('../img/hello_ico.svg');
	}
	&.watch-stories-btn {
		background-image: url('../img/watch_stories_ico.svg');
	}
}
.download-btn {
	padding-right: 54px!important;
}
.close-btn {
	border: none;
	background-color: transparent;
	width: 20px;
	height: 20px;
	background-image: url('../img/close_ico.svg');
	display: inline-block;
	text-decoration: none;
}
.sms-btn {
	display: inline-block;
	text-decoration: none;
	border: none;
	width: 135px;
	height: 54px;
	line-height: 34px;
	padding-left: 40px;

	&:before {
		content: '';
		background: url('../img/sms_ico_circle.svg');
		position: absolute;
		top: 50%;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		left: 12px;
	}
}
.mail-btn {
	display: inline-block;
	text-decoration: none;
	border: none;
	width: 135px;
	height: 54px;
	line-height: 34px;
	padding-left: 40px;

	&:before {
		content: '';
		background: url('../img/mail_ico_circle.svg');
		position: absolute;
		top: 50%;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		left: 12px;
	}
}
.confirm-btn {
	padding: 17px 20px 17px 54px;
}
.next-step-btn {
	padding: 17px 54px 17px 20px;
}
.manage-button {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-decoration: none;
	border: none;
	background-color: transparent;
	border-radius: 50%;
	@include background-size(contain);

	&.pause-btn {
		background-image: url('../img/pause_btn.svg');

		&:hover {
			background-image: url('../img/pause_btn_hover.svg');
		}
	}

	&.trash-btn {
		background-image: url('../img/trash_btn.svg');

		&:hover {
			background-image: url('../img/trash_btn_hover.svg');
		}
	}
}
.load-more-btn {
	border: 2px solid $blue;
	border-radius: 30px;
	display: inline-block;
	text-decoration: none;
	background-color: transparent;
	padding: 6px 12px;
	font-size: 16px;
	color: $blue;
}

.badge {
	font-size: 11px;
	color: #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #d40050;
	line-height: 20px;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin: 0 5px;
}

.pagination {
	margin: 15px 0;

	a {
		font-size: 16px;
		color: $blue;
		display: inline-block;
		position: relative;
		width: 20px;
		text-align: center;

		&.active {
			color: $gray;
		}

		&.back-btn {
			padding-left: 10px;
			width: auto;
			margin-right: 10px;

			&:before {
				content: '\f104';
				font-family: 'FontAwesome';
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&.next-btn {
			padding-right: 10px;
			width: auto;
			margin-left: 10px;

			&:after {
				content: '\f105';
				font-family: 'FontAwesome';
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

input.error {
	border-color: red!important;
}
label.error {
	font-size: 12px;
	color: red;
	text-align: left;
	margin-bottom: 0;
	line-height: 12px;
}

.pl {
	padding-left: 25px!important;
}

.no-gutters {
	margin: 0!important;
}

.popover-content {
	display: none;
}

.child-full--height {
	> div {
		height: 100%;
	}
}
.child-full--width {
	> div {
		width: 100%;
	}
}

#post_form {
	position: absolute;
	opacity: 0;
	z-index: -99;
	pointer-events: none;
	width: 0;
	height: 0;
}

.site-overlay {
	position: fixed;
	background: rgba(0,0,0, .55);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

.header {
	height: 65px;
	background: url('../img/header-bg.jpg');
	background-position: center;
    background-repeat: no-repeat;
    padding: 0 15px;

	.flex > .row {
		padding: 0 20px;
	}

	.menu-btn {
		background: transparent;
		border: none;
		margin-right: 20px;
	}

	.logo {
		font-size: 30px;
		color: #fff;
		text-transform: uppercase;

		span {
			font-family: 'SFUIDisplay-Thin';
		}
	}

	.user {

		&__icon {
			max-width: 34px;
			max-height: 34px;
		}

		&__name {
			color: #fff;
			font-size: 16px;
			max-width: 180px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin-left: 15px;
			padding-right: 25px;
			position: relative;

			&:after {
				content: '';
				background: url('../img/blue_down_arrow.svg');
				background-repeat: no-repeat;
				width: 16px;
				height: 9px;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				right: 2px;
			}
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

.main-section {
	.content {
		padding: 50px 40px;
		width: 100%;
		width: calc(100% - 230px);

		&.gray--background {
			padding: 0;
			background: #eceded;

			.content-top-sector {
				background: #fff;
				padding: 50px 40px 0 40px;
			}

			.content-bottom-sector {
				padding: 0px 40px 50px 40px;
			}
		}
	}

	.main-section-window {
		min-height: calc(100% - 65px);
	}

	.title-block {
		
		.add-account-btn {
			position: absolute;
			top: -10px;
			right: 10px;

			&:active {
				top: -8px;
			}
		}
	}

	h1 {
		font-family: 'SFUIDisplay-Light';
		margin-bottom: 30px;
	}

	p {
		font-size: 16px;
		color: $gray;
		line-height: 20px;
		margin: 0 0 10px 0;
		max-width: 70%;
	}

	p a {
		color: #3e36c4;
	}
}

// сайдбар
.sidebar {
	padding: 25px 0;
	background-color: $darkblue;
	width: 230px;
	min-width: 230px;
	min-height: calc(100vh - 65px);

	a {
		height: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		padding: 5px 10px 5px 50px;
		width: 100%;
		color: #fff;
		font-size: 16px;
		border-bottom: 1px solid transparent;
		font-family: 'SFUIDisplay-Light';

		&:before {
			content: '';
			background: url('../img/books.svg');
			background-repeat: no-repeat;
			width: 22px;
			height: 22px;
			position: absolute;
			top: 50%;
			left: 20px;
			margin-top: -11px;
		}

		&.active {
			background: $deepblue;
			border-bottom-color: #4e4e66;
		}
	}
}
// блок нет аккаунтов
.gray-container {
	margin: 40px 0 80px 0;

	&__inner {
		min-height: 250px;
		background: #eceded;
	}

	.add-account-btn {
		position: absolute;
		bottom: -44px;
		left: 0;
		right: 0;
		margin: auto;
		color: #fff;

		&:active {
			position: absolute;
			bottom: -46px;
			top: auto;
		}

		&.btn-md {
			bottom: -30px;

			&:active {
				bottom: -32px;
			}
		}
	}
}
.empty-accounts-block {
	p {
		font-size: 28px;
		color: #9c9e9f;
		font-family: 'SFUIDisplay-Light';
		text-align: center;
		line-height: 1.2;
	}
}

.accounts-wrapper {
	margin-top: 20px;

	h2 {
		margin: 15px 0;
	}
}

.accounts-list {
	margin-bottom: 30px;

	.account {
		border: 1px solid #e2e3e4;
		height: 192px;
		padding: 20px 35px;
		margin-bottom: 6px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		@include background-size(cover);
		background-position: center;
		@include transition(ease-in-out .5s);
		background-color: #fff;

		> a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 22;
		}

		&:not(.account-no-hover):hover {
			background-image: url('../img/account_hover_bg.jpg');

			.account__info, .account__user {
				color: #fff;
			}

			.account__info .ai-block {
				border-left-color: #d0ddee;
			}

			.context-btn {
				color: #fff;

				&:hover {
					background: #4d4c4c;
				}
			}
		}

		.context-btn {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: none;
			position: absolute;
			top: 15px;
			right: 15px;
			color: #9c9e9f;
			font-size: 14px;
			background: transparent;
			text-align: center;
			z-index: 44;

			&:hover {
				background: #eee;
			}
		}

		&__user {
			height: 150px;

			.user-name {
				margin-left: 25px;
				position: relative;
			}

			img {
				min-width: 100px;
				max-width: 100px;
			}

			.nickname {
				font-size: 24px;
				font-family: 'SFUIDisplay-Bold';
				line-height: 26px;
			}

			.user-descr {
				font-size: 16px;
				line-height: 20px;
				margin-top: 4px;
			}

			.verify-btn {
				font-size: 16px;
				color: #d40050;
				background: transparent;
				border: 2px solid #d40050;
				border-radius: 20px;
				padding: 6px 15px;
				position: absolute;
				white-space: nowrap;
				top: 100%;
				margin: 5px 0 0 -10px;

				&:hover {
					background: #d40050;
					color: #fff;
				}
				&:active {
					margin-top: 6px;
				}
			}
		}

		&__info {
			height: 150px;

			.ai-block {
				max-width: 150px;
				text-align: center;
				font-size: 16px;
				padding: 0 22px;
				border-left: 2px dotted #9c9d9e;

				&:first-child {
					border-left: none;
				}

				&__counts {
					font-size: 34px;
					line-height: 36px;
				}
			}
		}

		.account-action-buttons {
			padding: 0 35px;
			position: absolute;
			bottom: 20px;
			left: 0;
			z-index: 44;
			flex-wrap: nowrap;
			opacity: 0;
			@include transform(translateY(100%));
			@include transition(ease-in-out .5s);
		}

		&.active {
			height: 222px;
			background-image: url('../img/account_hover_bg.jpg');


			.account__info, .account__user {
				color: #fff;
			}

			.account__info .ai-block {
				border-left-color: #d0ddee;
			}

			.context-btn {
				color: #fff;

				&:hover {
					background: #4d4c4c;
				}
			}

			.account-action-buttons {
				@include transform(translateY(0));
				opacity: 1;
			}
		}

		.close-btn {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		form {
			width: 100%;
		}

		.form-buttons {
			margin-top: 25px;

			.back {
				position: absolute;
			    right: 100%;
			    white-space: nowrap;
			}
		}

		.leftside {
			width: 37%;
		}

		.rightside {
			width: 63%;
		}

		.bordered {
			border-left: 2px dotted #d2d2d3;
		}

		.form-block {
			margin-top: 15px;
			max-width: 385px;
			width: 100%;
			padding-left: 25px;

			span, p {
				font-size: 16px;
				color: #000;
				margin-bottom: 5px;
				max-width: 100%;
			}

			.fa {
				color: $gray;
			}

			.element {
				margin-bottom: 15px;
			}

			input {
				width: 100%;
				height: 38px;
				background: #eceded;
				padding: 0 12px;
				border: 1px solid transparent;
			}

			.flex-cols {
				>.element {
					margin-bottom: 0;
					&:first-child {
						width: 70%;
						margin-right: 10px;
					}
					&:last-child {
						width: 30%;
					}
				}
			}
		}

		&.account-free {
			padding: 35px 35px;
			height: auto;

			.account__user, .account__info {
				-webkit-align-items: center;
				align-items: center;
				height: auto;
			}
		}

		.account-info {

			&__row {
				margin: 4px 0;

				strong, .row-title {
					font-family: 'SFUIDisplay-Bold';
					margin-right: 5px;
				}
			}
		}

		.account-manage-button {
			padding-left: 35px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	} 

	&.subs-list {
		border-top: 1px solid #e2e3e4;
		border-bottom: 1px solid #e2e3e4;

		.account {
			border-bottom: none;
			border-top: none;
			margin-bottom: 0;
			padding: 16px 35px;

			&:first-child {
				padding-top: 54px;
			}
		}
	}

	.button-wrap {
		padding: 15px 0 30px;
		background-color: #fff;
	}
}

// логи
.logs-list {
	border: 1px solid #e2e3e4;
	background-color: #fff;
	padding: 15px 40px;

	li {
		padding: 7px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		font-size: 16px;
		border-bottom: 1px solid #e2e3e4;

		&:last-child {
			border-bottom: none;
		}

		> div:first-child {
			margin-right: 5px;
		}
	}
}

.login-system {
	background-image: url('../img/start_bg.jpg');
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	@include background-size(cover);

	.header {
		background: none;
	}

	.login-container {
		padding: 0 10px 50px 10px;
	}

	.login-form {
		background: #fff;
		padding: 40px 28px;
		border-radius: 10px;
		max-width: 450px;

		h1 {
			font-family: 'SFUIDisplay-Regular';
		}

		p {
			font-size: 18px;
			color: #1a171b;
			font-family: 'SFUIDisplay-Light';

			a {
				font-family: 'SFUIDisplay-Regular';
			}
		}

		form {
			margin-top: 10px;
			margin-bottom: 40px;
		}

		.mdl-textfield--floating-label{
			color: $blue;

			.mdl-textfield__label{
				color: #707173;
				font-size: 18px;
			}

			&:after{
				bottom: 12px;
			}

			&.is-focused, &.is-dirty {
				.mdl-textfield__label{
					color: $blue;
					font-size: 12px;
				}
			}
		}

		.password-elem {
			width: 66%;

			.fa {
				position: absolute;
			    top: 50%;
			    right: 0;
			    color: #707173;
			    margin-top: -8px;
			    cursor: pointer;
			}
		}

		.forgot-password {
			font-size: 15px;
			font-family: 'SFUIDisplay-Light';
			color: $blue;
			white-space: nowrap;

			&:hover {
				color: #0056b3;
			}
		}

		label.error {
			position: absolute;
			margin-bottom: 0;
		}

		.buttons {
			margin-top: 30px;
			
			a {
				display: inline-block;
				width: 68px;
				height: 68px;
				background-repeat: no-repeat;
				background-position: top center;
				@include background-size(cover);
				margin: 0 6px;

				&:last-child {
					margin-right: 0;
				}

				&.fb {
					background-image: url('../img/fb_ico.png');
				} 

				&.vk {
					background-image: url('../img/vk_ico.png');
				} 
			}
		}
	}
}

.mdl-textfield {
	width: 100%;
}
.mdl-textfield__label:after{
	bottom: 13px;
	background-color: $blue;
}
.mdl-textfield__input {
	border-bottom-color: #b1b2b3;
}

.popover > *{
	overflow: auto;
}

// выбор тарифа
.choose-tariff {
	width: 360px;
	text-align: center;
	padding-bottom: 40px;

	.choose-tariff__title {
		font-size: 24px;
		color: #1a171b;
		font-family: 'SFUIDisplay-Light';
		margin-bottom: 10px;
	}

	p {
		font-size: 16px;
		color: $gray;
		line-height: 20px;
		max-width: 100%;
	}

	.calc-table {
		margin-bottom: 30px;

		.column {
			width: 33.3%;
			border-left: 2px dotted #b6b7b7;

			&:first-child {
				border-left: none;
			}

			p {
				margin-bottom: 0;
			}

			.base-price {
				position: relative;

				&:after {
					content: '';
					width: 100%;
					height: 1px;
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					background: red;
				}
			}

			&__head {
				height: 40px;
			}

			&__count {
				font-size: 34px;
				color: $blue;
				line-height: 40px;
			}
		}
	}

	.irs--flat {

		.irs-line {
			height: 4px;
			background-color: $gray;
		}

		.irs-bar {
			height: 4px;
			background-color: #1a171b;
		}

		.irs-single {
			top: -5px;
			background-color: $gray;

			&:before {
				border-top-color: $gray;
			}
		}

		.irs-grid {
			bottom: 11px;
		}

		.irs-grid-pol {
			background: $gray;
			opacity: 1;
		}

		.irs-grid-text {
			display: none;
		}

		.irs-handle {
			width: 25px;
			height: 26px;
			background-image: url('../img/irs_ball.png');
			top: 14px;
			cursor: pointer;

			i {
				display: none!important;
			}
		}
	}
}

.tabs {
	margin-top: 40px;

	li {
		border-left: 1px dotted $gray;

		&:first-child {
			border-left: none;
		}

		a {
			display: block;
			font-size: 16px;
			color: $blue;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px 15px;
			position: relative;

			&:after {
				content: '';
				border: 10px solid transparent;
				border-top-color: #3c006d;
				width: 0;
				position: absolute;
				bottom: -20px;
				left: 0;
				right: 0;
				margin: auto;
				display: none;
			}
		}

		&.active {
			a {
				background: #3c006d;
				color: #fff;

				&:after {
					display: block;
				}
			}
		}
	}
}

// шаги
.stepper-wrap {
	max-width: 360px;
	width: 100%;
	position: relative;

	.stepper-grid {
		position: absolute;
	    left: 0;
	    right: 0;
	    top: -25px;

		span {
			display: inline-block;
			width: 14px;
			height: 14px;
			position: absolute;
			margin-left: -7px;
    		margin-top: -4px;
    		text-align: center;
    		font-size: 14px;
    		color: $gray;

    		&:after {
    			content: '';
    			width: 14px;
    			height: 14px;
				border-radius: 50%;
				background: #c6c7c8;
				position: absolute;
				top: 25px;
				left: 0;
    		}
    		&:before {
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: transparent;
				position: absolute;
				top: 28px;
				left: 3px;
				z-index: 22;
				pointer-events: none;
			}

			&.selected {
				color: $blue;

				&:before {
					background: $blue;
				}
			}

			&:nth-child(1) {
				left: 0%;
				color: $blue;

				&:before {
					background: $blue;
				}
			}
			&:nth-child(2) {
				left: 25%;
			}
			&:nth-child(3) {
				left: 50%;
			}
			&:nth-child(4) {
				left: 75%;
			}
			&:nth-child(5) {
				left: 100%;
			}
		}
	}

	.ui-widget-content {
		border: none;
		background: #c6c7c8;
		height: 6px;

		.ui-slider-handle {
			width: 8px;
			height: 8px;
			background: $blue;
			top: -1px;
		    border: none;
		    margin-left: -4px;

		    &:after {
		    	content: 'Шаг';
		    	color: $blue;
		    	font-size: 14px;
		    	position: absolute;
		    	top: -29px;
    			left: -29px;
		    	font-family: 'SFUIDisplay-Light';
		    }
		}
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 20%;
	    height: 60%;
	    background: $blue;
	}
}
// ожидание якассы
.waitbox {
	max-width: 400px;
	text-align: center;
	padding: 7em 0;

	p {
		margin: auto;
	}
}



.form-data {
	max-width: 360px;
	width: 100%;
	text-align: center;
	padding: 20px 0 0;

	.form-validate {
		margin-top: 20px;
	}

	label.error {
		font-size: 14px;
		color: red;
		margin-bottom: 0;
	}

	.element {
		width: 100%;
		margin-bottom: 10px;
		text-align: left;
	}

	input[type="text"] {
		width: 100%;
		background: #fff;
		height: 38px;
		padding: 0 12px;
		border: 1px solid transparent;
		font-size: 16px;
		color: #1a171b;

		&.error {
			border-color: red;
		}

		@include placeholder() {
			color: #b1b3b4;
		} 
	}

	.fa-question-circle {
		margin-left: 4px;
		color: $gray;
		cursor: pointer;
	}

	.proxy-wrap {
		margin: 25px 0 0;
	}

	.proxy-link {
		font-size: 14px;
		color: $blue;

		i {
			margin-right: 4px;
		}

		span {
			border-bottom: 1px dashed;
		}

		&.active {
			color: #1a171b;

			i {
				@include transform(rotate(90deg));
			}
		}
	}

	.blue-btn.btn-md {
		position: relative;
	}

	.flex-cols {
		>.element {
			&:first-child {
				width: 70%;
				margin-right: 10px;
			}
			&:last-child {
				width: 30%;
			}
		}
	}

	.proxy-block-hidden {
		display: none;
		margin-top: 25px;
	}
}

.form-checkboxes {
	padding: 5px 0;
	margin-top: 15px;

	.element {
		label {
			margin-bottom: 0;
			padding: 5px 0;

			span:not(.select2) {
				margin-left: 10px;
				vertical-align: top;
			}
		}

		.fa {
			margin-left: 5px;
			color: $gray;
		}

		input[type="radio"] {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			overflow: hidden;

			&:checked + i:after {
				@include transform(scale(1));
				@include transition(.2s);
			}
		}

		input[type="radio"] + i {
			display: inline-block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			border: 1px solid #959697;
			background: #eceded;
			position: relative;

			&:after {
				content: '';
				background: $blue;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				@include transform(scale(0));
				@include transition(.2s);
			}
		}

		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			overflow: hidden;

			&:checked + i:after {
				@include transform(scale(1));
				@include transition(.2s);
			}
		}

		input[type="checkbox"] + i {
			display: inline-block;
			width: 20px;
			height: 20px;
			border: none;
			background: #eceded;
			position: relative;

			&:after {
				content: '';
				background: url('../img/check_ico.svg');
				background-position: center; 
				width: 20px;
				height: 20px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				@include transform(scale(0));
				@include transition(.2s);
			}
		}
	}
}

.form-settings {
	color: #1a171b;
	margin-bottom: 15px;

	.leftside {
		width: 38%;
	}

	.rightside {
		width: 62%;
	}

	.element {
		height: 32px;
	}

	.flex-cols {
		> div {
			&:first-child {
				min-width: 130px;
			}
		}
	}

	.top-right-buttons {
		position: absolute;
	    top: -10px;
	    right: 0;

		a {
			margin-left: 15px;
		}
	}
}


// modals
.white-popup-block {
	padding: 40px 30px;

	.close-btn {
		position: absolute;
		top: 15px;
		right: 15px;
	}
}
.modal-sm {
	max-width: 460px;
	background: #fff;
	margin: auto;
	text-align: center;
	
	.subtitle {
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		color: $gray;
	}
}
.verify-modal {

	.buttons {
		margin-top: 40px;

		a {
			margin: 0 7px;
		}
	}
}
.check-account-modal {

	.form-validate {
		max-width: 340px;
		margin: auto;

		.element {
			text-align: left;
		}

		input {
			width: 100%;
			height: 36px;
			padding: 0 12px;
			border: 1px solid transparent;
			font-size: 16px;
			color: #1a171b;
			background: #eceded;

			&.error {
				border-color: red;
			}

			@include placeholder() {
				color: $gray;
			} 
		}

		label.error {
			font-size: 14px;
			color: red;
			margin-bottom: 0;
		}

		.buttons {
			margin-top: 25px;
		}

		.request-again-link {
			font-size: 16px;

			.fa {
				position: relative;
				top: 1px;
			}
		}
	}
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $blue;
  font-size: 8px;
  margin: 0px auto 50px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: -0.14s;
  animation-delay: -0.14s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -2.5em;
  -webkit-animation-delay: -0.28s;
  animation-delay: -0.28s;
}
.loader:after {
  left: 2.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em;
  }
  40% {
    box-shadow: 0 2em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2em 0 -1em;
  }
  40% {
    box-shadow: 0 2em 0 0;
  }
}